$codeblock-padding: 5px !default;

@mixin bkSetup($color, $glyph) {

  $gradientcolor1: $color;
  $gradientcolor2: scale-color($color, $lightness: 10%);

  padding-left: $codeblock-padding;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: 1px solid;
  border-color: $color;
  padding-bottom: $codeblock-padding;
  margin-top: 0;

  >h2:first-child {
    padding-top: $codeblock-padding;
    padding-bottom: $codeblock-padding;
    font-size: 20px;
    background: linear-gradient(to bottom, $gradientcolor1, $gradientcolor2);
    border-color: $color;
    margin-top: 0px;
    margin-left: -$codeblock-padding; // to move back to the left margin of the enclosing blockquote
  }
  >h2:first-child:before {
    font-family: 'Glyphicons Halflings';
    content: $glyph;
    float: left;
    padding-left: $codeblock-padding;
    padding-right: $codeblock-padding;
    display: inline-block;
    margin-top: 0px;
    -webkit-font-smoothing: antialiased;
  }

}

.tutorial_files{ @include bkSetup($color-files, ""); }
.overview{ @include bkSetup($color-overview, "\e105"); }
.info { @include bkSetup($color-info, "\e086"); }
.aside { @include bkSetup($color-aside, ""); margin-top: 20px; }

.aside span.fold-unfold:first-child {
  cursor: pointer;
  float: left;
  padding-left: $codeblock-padding;
  padding-right: $codeblock-padding;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.download_files {
  cursor: pointer;
  float: left;
  padding-left: $codeblock-padding;
  padding-right: $codeblock-padding;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}