@use 'colors';

$codeblock-padding: 5px !default;

@mixin bkSetup($color, $glyph) {

  $gradientcolor1: $color;
  $gradientcolor2: scale-color($color, $lightness: 10%);

  display: flow-root; // Fix for float overlap

  padding-left: $codeblock-padding;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: 1px solid;
  border-color: $color;
  padding-bottom: $codeblock-padding;
  margin-top: 0;

  >h2:first-child {
    padding-top: $codeblock-padding;
    padding-bottom: $codeblock-padding;
    font-size: 20px;
    background: linear-gradient(to bottom, $gradientcolor1, $gradientcolor2);
    border-color: $color;
    margin-top: 0px;
    margin-left: -$codeblock-padding; // to move back to the left margin of the enclosing blockquote
  }
  >h2:first-child:before {
    font-family: 'Glyphicons Halflings';
    content: $glyph;
    float: left;
    padding-left: $codeblock-padding;
    padding-right: $codeblock-padding;
    display: inline-block;
    margin-top: 0px;
    -webkit-font-smoothing: antialiased;
  }

}

.tutorial_files{ @include bkSetup(colors.$files, ""); }
.overview{ @include bkSetup(colors.$overview, "\e105"); }
.info { @include bkSetup(colors.$info, "\e086"); }
.aside { @include bkSetup(colors.$aside, ""); & { margin-top: 20px; } }

.aside span.fold-unfold:first-child {
  cursor: pointer;
  float: left;
  padding-left: $codeblock-padding;
  padding-right: $codeblock-padding;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.download_files {
  cursor: pointer;
  float: left;
  padding-left: $codeblock-padding;
  padding-right: $codeblock-padding;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.show-more-container {
    display: block;      /* Forces a clear line break */
    margin-top: -5px;    /* Pulls it slightly closer to the list above */
    margin-bottom: 15px; /* Pushes the next header down */
    padding-left: 5px;   /* Aligns with the list items */
}

.show-more-btn {
    background: none;
    border: none;
    padding: 0;
    color: colors.$info; /* Uses your theme's info color */
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: scale-color(colors.$info, $lightness: -20%);
    }

    .toggle-icon {
        display: inline-block;
        width: 12px;
        font-family: monospace;
    }
}

