$link:                #337ab7;

$link2:               #438ac7;

// code boxes
$bash:                #f0f0f0 !default;
$rev:                 #b7cfed !default;
$rev-output-bg:       #b7cfed !default;
$rev-output:          #808080 !default;

// blockquotes
$overview:            #b7cfed !default;
$files:               #f4fd9c !default;
$info:                #eec275 !default;
$aside:               #eee0e5 !default;

// figures
$figure-border:       #B0B0B0 !default;

$lavender-blush2:     #eee0e5 !default;
