$color-link: 		  #337ab7;

$color-link2: 		  #438ac7;

// code boxes
$color-bash:          #f0f0f0 !default;
$color-rev:           #b7cfed !default;
$color-rev-output-bg: #b7cfed !default;
$color-rev-output:    #808080 !default;

// blockquotes
$color-overview:      #b7cfed !default;
$color-files:         #f4fd9c !default;
$color-info:    	  #eec275 !default;
$color-aside:    	  #eee0e5 !default;

// figures
$figure-border:       #B0B0B0 !default;

$lavender-blush2:	  #eee0e5 !default;