.sidebar_nav {
    overflow: auto;
    height:75vh;
}
.help {
    overflow: auto;
    height:75vh;
}

.help-section-body {
	padding-left: 30px;
}

.table.arguments>tbody>tr>td,
.table.arguments>tbody>tr>th {
  border-top: none;
}

table.arguments {
	.lhs {
		text-align: right;
	}
	.rhs {
		text-align: left;
	}
	td {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	tr.argument {
		padding-top: 10px;
		padding-bottom: 2px;
	}
	tr:not(.argument) {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}