* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}

$keyword-color: $color-link2;

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  float: left;
}
.btn-clear {
  margin-left: 10px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: $keyword-color; 
  color: #ffffff; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: $keyword-color !important; 
  color: #ffffff; 
}
.btn-keyword {
  margin: 3px;
  background-color: $keyword-color;
  color: #ffffff; 
}