.tutorialbox {
  display: flex;
  flex-wrap: wrap;
}

.tutorial {
  width: "30%";
  background-color: #fafafa;
  margin: 0.2em;
  padding: 0.6em;
  
  max-width: 13.5em;
  text-align: left;

  .title {
    font-size: 1.2em;
  }
  .subtitle {
    font-style: italic;
  }
}