.titlebar {
  margin-bottom: 2em;
  text-align: left;
  font-family: 'Raleway';

  .subtitle {
    font-size: 1.8em;
    font-style: italic;
  }

  .authors {
    font-size: 1em;
  }
}

h2.section {
  margin-top: 30pt;
}

.sidebar {
    width: 22em;
    float: left;
    font-size: 0.9em;
    margin-right: 1em;
    margin-top: 0em;
}

.MathJax_Display {
    pointer-events:none;
}