_site
.sass-cache
.jekyll-metadata
.jekyll-cache
*.bak
_bibliography/references.bib.sav
tutorials/*/output
tutorials/*/output_*
tutorials/*/history.txt
tutorials/**/.Rhistory
.DS_store
*/.DS_Store
/.bundle/
/_bibliography/auto/
.idea/
**/*.swp


tutorials/timefig_dating/data/
tutorials/timefig_simple/data/
tutorials/timefig_dating/figures/convert_png.sh
tutorials/timefig_simple/figures/convert_png.sh
