{% assign model = site.data.help | where: "index", "ModelObject" %}
{% assign distributions = site.data.help | where: "index", "Distribution" %}
{% assign functions = site.data.help | where: "index", "Function" %}
{% assign moves = site.data.help | where: "index", "Move" %}
{% assign monitors = site.data.help | where: "index", "Monitor" %}
{% assign workspace = site.data.help | where: "index", "Workspace" %}

<div class="col-sm-4">
    <nav class="sidebar_nav">
    	<h4>Model Objects</h4>
        <ul class="list-unstyled">
        {% for item in model %}
        <li class="sidebar_item"><a href="{{ site.baseurl }}/{{ site.helpdir }}/{{ item.name | replace: '[', '%5B' | replace: ']', '%5D' }}.html">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        <h4>Distributions</h4>
        <ul class="list-unstyled">
        {% for item in distributions %}
        <li class="sidebar_item"><a href="{{ site.baseurl }}/{{ site.helpdir }}/{{ item.name | replace: '[', '%5B' | replace: ']', '%5D' }}.html">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        <h4>Functions</h4>
        <ul class="list-unstyled">
        {% for item in functions %}
        <li class="sidebar_item"><a href="{{ site.baseurl }}/{{ site.helpdir }}/{{ item.name | replace: '[', '%5B' | replace: ']', '%5D' }}.html">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    	<h4>Moves</h4>
        <ul class="list-unstyled">
        {% for item in moves %}
        <li class="sidebar_item"><a href="{{ site.baseurl }}/{{ site.helpdir }}/{{ item.name | replace: '[', '%5B' | replace: ']', '%5D' }}.html">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        <h4>Monitors</h4>
        <ul class="list-unstyled">
        {% for item in monitors %}
        <li class="sidebar_item"><a href="{{ site.baseurl }}/{{ site.helpdir }}/{{ item.name | replace: '[', '%5B' | replace: ']', '%5D' }}.html">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        <h4>Workspace Objects</h4>
        <ul class="list-unstyled">
        {% for item in workspace %}
        <li class="sidebar_item"><a href="{{ site.baseurl }}/{{ site.helpdir }}/{{ item.name | replace: '[', '%5B' | replace: ']', '%5D' }}.html">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    </nav>
</div>