<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{{ site.baseurl }}{% link index.md %}" class="pull-left">
        {% if page.title == 404 %}
        <img class="navbar-logo" src="{{ site.baseurl }}{% link assets/img/rbs.png %}" alt="RevBayes Home" />
        {% else %}
        <img class="navbar-logo" src="{{ site.baseurl }}{% link assets/img/aquabayes-desaturated.png %}" alt="RevBayes Home" />
        {% endif %}
      </a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" align="right"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{% page_ref download %}</li>
        <li>{% page_ref tutorials %}</li>
        <li>{% page_ref documentation %}</li>
        <li><a href="https://revbayes.github.io/revscripter/">RevScripter</a></li>
        <li>{% page_ref workshops %}</li>
        <li>{% page_ref jobs %}</li>
        <li>{% page_ref developer %}</li>
        <li><{% page_ref gui %}</li>
      </ul>
      <!-- <form class="navbar-form navbar-right" role="search" id="search" onsubmit="google_search(); return false;">
        <div class="form-group">
          <input type="text" id="google-search" placeholder="Search..." aria-label="Google site search">
        </div>
      </form> -->
    </div>
  </div>
</nav>
