---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="search-domain" value="{{ "/" | absolute_url }}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png" >
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}">
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/syntax.css %}">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link assets/css/bootstrap.css %}" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link assets/css/bootstrap-theme.css %}" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{% link assets/css/main.scss %}" />
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
  </head>
  <body>
    <div class="container">
      {% if page.title == 404 %}
        {% assign is_404 = true %}
      {% else %}
        {% assign is_404 = false %}
      {% endif %}
      {% include_cached navbar.html is_404=is_404 %}
      <!-- adds margin to main content -->
      <div class="container" style="padding-left:20px padding-right:20px;">
          {{content}}
      </div>
      {% include_cached footer.html %}
    </div>
    {% include_cached javascript.html code_layout=page.code_layout %}
    {% include_cached analytics.html %}
  </body>
</html>
