---
layout: default
---

<h1>{{ page.title }}</h1>

<b>Location:</b> {{ page.location }} <br>

<b>Dates:</b> {{ page.startdate | date: "%-m/%-d" }}, {{ page.startdate | date: "%Y" }}

{% if page.enddate %}
to {{ page.enddate | date: "%-m/%-d" }}, {{ page.enddate | date: "%Y" }}
{% endif %}

<br>

<b>Instructors:</b> {{ page.instructors | join: ", " }} <br>

{% if page.registration %}
<b>Register:</b> <a href="{{ page.registration  }}">{{ page.registration  }}</a> <br>
{% endif %}

<h2>Description</h2>

<p>{{ page.description | join: "</p><p>" }}</p>

{% if page.venue %}
<b>Venue:</b> {{ page.instructors }} <br>
{% endif %}

{% if page.website.size > 0 %}
<h2>Workshop Website</h2>

<a href="{{ page.website }}">{{ page.website  }}</a><br>

{% endif %}

{% if page.lessons.size > 0 %}
<h2>Schedule</h2>

<div class="row">
    <div class="col-md-9">
        <ul>
          {% for lesson in page.lessons %}
            <li>{% page_ref {{ lesson }} %}</li>
          {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
