name: Exclude pages from search engines

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Check that website builds"]  # build.yml
    types:
      - completed

permissions:
  contents: write

jobs:
  add-noindex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v5
        with:
          ref: master

      - name: Commit and push changes
        shell: bash
        run: |
          if git diff --quiet; then
            echo "No changes to commit."
            exit 0
          fi

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add tutorials/fbd/index.html
          git commit -m "Add robots noindex meta tag to tutorials/fbd/index.html"
          git push origin master
