name: Exclude pages from search engines
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Check that website builds"]  # build.yml
    types:
      - completed

permissions:
  contents: write

jobs:
  add-noindex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v5
        with:
          ref: master

